<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array>
		<dict>
			<key>ParameterNames</key>
			<array>
				<string>INStartWorkoutIntent.workoutName</string>
			</array>
			<key>ParameterVocabulary</key>
			<array>
				<dict>
					<key>VocabularyItemIdentifier</key>
					<string>eating</string>
					<key>VocabularyItemSynonyms</key>
					<array>
						<dict>
							<key>VocabularyItemPronunciation</key>
							<string>ee ting</string>
							<key>VocabularyItemPhrase</key>
							<string>eating</string>
							<key>VocabularyItemExamples</key>
							<array>
								<string>Start eating</string>
								<string>Start with eating</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Start eating</string>
				<string>Start to eat</string>
				<string>Start with eating</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
